html,
body {
  height: 100%;
}

.thanh {
  /* height: 100%; */
  /* min-height: 100%; */
  /* display: flex; */
  /* flex-direction: column; */
}
.thanh .box {
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 36px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.thanh .box-1 {
  background-color: green;
  height: 60px;
}
.thanh .box-2 {
  background-color: blue;
  flex: 1;
  overflow-y: scroll;
}
.thanh .box-3 {
  background-color: red;
  height: 60px;
}
